documentation/


# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Dependencies
# Dependencies
node_modules/

# Environment
.env
